
/* HTML elements */
html{
  height: 100%;
}

body {
  background-color: #fffdf6;
  margin: 0;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  border: 0;
  min-height: 100%;
}

div {
  background-color: #fffdf6;
}

hr{
  border-style: none;
  border-top-style: solid;
  margin: auto;
  width: 30%;
  color: #1687a7;
}

h4{
  line-height: 2;
}

h5{
  font-weight: 400;
  font-size: 1.5rem;
  margin:auto;
}


/* Navigation Menu */
.menu{
  display: inline-block;
  position: absolute;
  left: 2%;
  top: 200px;
  font-family: 'Assistant', sans-serif;
  z-index: 2;
}

.menu-button{
  margin: 5% 0;
  color: #db6400;
}

.menu-button:hover{
  background-color:#eeeeee;
}

.btn {
  color: #db6400;
  font-size: 1.5rem;
  font-weight: 200;
}

/* Home page- top container */
.top-container {
  background-color: #fffdf6;
  position: relative;
  padding: 20px;
  background: transparent;
  display: inline-block;
  margin: auto;
}

.hello-message {
  margin: 30px auto 0 auto;
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 3.75rem;
  color: #db6400;
  line-height: 2;
}

.what-am {
  font-family: 'Work Sans';
  font-size: 1.5rem;
  color: #1687a7;
  font-weight: 600;
}

.pro {
  text-decoration: underline;
}

.image-fluid{
  margin: auto;
  display: inline-block;
  max-width: 100%;
}

/* Home page - middle container */
.middle-container{
  color:#00334e;
  padding-top: 5px;
  margin:20px auto 150px;
  font-family: 'Ubuntu', sans-serif;
}

.hi-bio{
  margin-bottom: 20px;
  color: #1687a7;
}

.blurb-p{
  margin: auto;
  width:40%;
  font-weight: 300;
  color: #1687a7;
}

/*Home page - bottom container */
.bottom-container{
  color:#1687a7;
  display: inline-block;
}

/* sub-page headers */
.subpage{
  margin: auto;
  padding-top: 70px;
}

.subpage-title{
  color: #db6400;
  font-size: 2.5rem;
  font-weight: 400;
}

/* SKILLS AND CV*/

#skills-container{
  width: 80%;
  padding: 50px 50px 50px;
  margin: auto;
}

.skills-row{
  width: 80%;
  margin: auto;
  color: #00334e;
}

.cv-col{
  text-align: left;
}

.list{
  padding: 0;
}

.front{
  display: inline-block;
}

li{
  color:#1687a7;
  font-size: 1.5rem;
  font-weight: 100;
}

/* ABOUT ME */

.aboutme-body{

}

/* PORTFOLIO*/

.portfolio-body{

}

/* GET IN TOUCH */

.contact-body{

}



/* Footer */
.footer-link {
  color: #db6400;
  text-decoration: none;
  margin:0 10px;
}

.footer-link:hover{
  color: #00334e;
}

.copyright{
  font-size: 1rem;
  color:#00334e;
}
